<!DOCTYPE html>
<html>
    <head>
        <title>{{ author_name }} did this!</title>
        <style>
            body {
                width: 35em;
                margin: 0 auto;
                font-family: Tahoma, Verdana, Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Hello World!</h1>
            <p>This is {{ author_name }}'s second site set up by Ansible</p>
            <p>Check out his <a href="./index.html">main site</a></p>
        </body>
</html>
